@if (showData) {
<div
  class="bg-gray-800 grid grid-cols-[220px,1fr] min-w-full items-center gap-5 p-5 rounded-lg relative h-full"
>
  <div class="grid justify-center h-full py-7">
    <div class="flex items-center">
      <div
      style="background-image: url({{hero.img}})"
      class="w-36 h-36 rounded-md bg-cover bg-no-repeat bg-center"
      ></div>
    </div>
    <h1 class="text-white text-center mt-10 font-semibold">
      Edad: {{ hero.age }} años
    </h1>
  </div>

  <div class="grid h-full py-7 max-w-[100%]">
    <div class="flex justify-center items-center pd-4">
      <p class="text-center font-bold text-[30px] text-slate-100 ">
        {{ capitalizedName }}
      </p>
    </div>
    
    <div class="flex justify-center items-center">
      <p class="text-white opacity-80">
        {{ hero.description }}
      </p>
    </div>
  </div>

  <div class="grid absolute top-0 right-3">
    <button 
      (click)="limpiarDatos()"
      class="bg-white bg-opacity-10 px-2.5 py-1 rounded-[50%] mt-3 text-white/30 font-bold text-[15px]
      hover:bg-opacity-20"
    >
      X
    </button>
  </div>
</div>

} @else(){
<div
  class="flex w-full justify-center items-center gap-5 p-5 rounded-lg h-20"
>
  <div class="bg-gray-800 py-6 px-8 rounded-xl">
    <h1 class="text-center  font-bold  text-[30px] text-slate-100">
      Selecciona un personaje
    </h1>
  </div>
</div>
}
