<div class="flex flex-col">

  <div class="flex justify-center items-center w-full p-5">
    <div class="grid grid-cols-[minmax(400px,872px)_288px] mx-4 gap-5 justify-between h-[280px] max-w-6xl">
      <app-heroes-hero
        [hero]="heroSend"
        [showData]="showData"
        (HideData)="hideData()"
        class="w-[600px]"
      ></app-heroes-hero>
      <app-heroes-form></app-heroes-form>
    </div>
  </div>

  <div>
    <app-heroes-list (showDetailHero)="newMethod($event)"></app-heroes-list>
  </div>
</div>
